.content {
  display: flex;
  justify-content: center;
}

.noticeOuterWrapper {
  padding: 5px;
  background: #6e3cbc;
}

.noticeInnerWrapper {
  width: 60%;
  margin: auto;
  padding: 5px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
}

.noticeInnerWrapper .noticeTitle {
  margin: 0 20px;
}

.noticeList {
  flex: auto;
}

.noticeItem {
  padding: 1px 20px 1px 0;
}

.navigate {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .noticeInnerWrapper {
    width: 80%;
    flex-direction: column;
  }

  .noticeList {
    width: 80%;
  }

  .noticeItem {
    padding: 1px 0;
  }
}
