.header {
  height: unset;
  padding: 10px 50px;
  line-height: unset;
  background: #6e3cbc;
}

.link {
  cursor: pointer;
}

.titleWrapper {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.titleWrapper .title {
  margin: 0;
  color: #ffffff;
}

.titleWrapper .subTitle {
  color: #ffffff;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 576px) {
  .titleWrapper {
    display: none;
  }
}
