.button {
  margin: 40px 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 8px #aaaaaa;
}

.img {
  width: 80px;
  height: 80px;
  padding: 10px;
  background: #b8e4f0;
  border-radius: 50%;
}

.label {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
}
