.header {
  height: unset;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  line-height: unset;
  color: #ffffff;
  background: #6e3cbc;
}

.titleWrapper {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.subTitle {
  font-size: 12px;
}
